/* Dark Purple: #73168C 
Purple: #9F2CBF
Light Purple: #C04BF2
Blue: #281259
Navy: #070926 */

.bg-Light {
    background-color: #C04BF2;
    padding: 50px;
}

.bg-Purple { 
    background-color: #9F2CBF;
    padding: 50px;
}

nav{
    background-color: #C04BF2;
    border: 1px solid #dedede;
    display: block; 
}